// ============================================
// CSS Custom Properties (Variables)
// ============================================

:root {
	// Typography
	--font-family: -apple-system, system-ui, sans-serif;
	--font-family-monospace:
		'Consolas', 'Menlo', 'Monaco', 'Andale Mono WT', 'Andale Mono',
		'Lucida Console', 'Lucida Sans Typewriter', 'DejaVu Sans Mono',
		'Bitstream Vera Sans Mono', 'Liberation Mono', 'Nimbus Mono L',
		'Courier New', 'Courier', 'monospace';

	// Colours - Light Mode
	--color-gray-20: #e0e0e0;
	--color-gray-50: #c0c0c0;
	--color-gray-90: #333;
	--background-color: #fff;
	--text-color: var(--color-gray-90);
	--text-color-link: #082840;
	--text-color-link-active: #5f2b48;
	--text-color-link-visited: #17050f;

	// Syntax Highlighting
	--syntax-tab-size: 2;

	// Dark Mode
	@media (prefers-color-scheme: dark) {
		--color-gray-20: #e0e0e0;
		--color-gray-50: #c0c0c0;
		--color-gray-90: #dad8d8;
		--text-color-link: #1493fb;
		--text-color-link-active: #6969f7;
		--text-color-link-visited: #a6a6f8;
		--background-color: #15202b;
	}
}
