// ============================================
// Components
// ============================================

// Message Box Component
// ============================================

.message-box {
	--color-message-box: #ffc;

	display: block;
	background-color: var(--color-message-box);
	color: var(--color-gray-90);
	padding: 1em 0.625em; /* 16px 10px /16 */

	ol {
		margin-top: 0;
	}

	@media (prefers-color-scheme: dark) {
		--color-message-box: #082840;
	}
}
